
/* Root Global */
:root {
    --tg-body-font-family: 'Roboto', sans-serif;
    --tg-heading-font-family: 'Roboto', sans-serif;
    --tg-primary-color: #ed1d24;
    --tg-secondary-color: #FAA432;
    --tg-white-color: #ffffff;
    --tg-black-color: #000000;
    --tg-rating-color: #FFD700;
    --tg-cream-bg-color: #fff6e3;
}
.btn-three {
    padding: 10px 30px;
}
.padding-none {
    padding: 0;
}
.padding-defult {
    padding: 5% 0;
}
.padding-defult-top {
    padding-top: 5%;
    padding-bottom: 0%;
}
.padding-defult-bottom {
    padding-bottom: 5%;
    padding-top: 0%;
}
.padding-defult-top-bottom {
    padding-top: 5%;
    padding-bottom: 7.5%;
}
.rounded {
    border-radius: 1rem !important;
}
.scroll-top {
    background-color: var(--tg-primary-color);
}
.scroll-top:hover {
    background-color: var(--tg-secondary-color);
    opacity: 1;
}
.tg-section-title .title,
.section-title .title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 0;
}
.tg-cube-grid .tg-cube {
    background-color: var(--tg-primary-color);
}

/* Header */
.menu-area-two {
    border-bottom: none;
}
.menu-area-two .logo {
    border-right: none;
    padding: 5px 30px;
}
.menu-area-two .navbar-wrap ul {
    margin: 0 0 0 auto;
}
.menu-area-two .navbar-wrap ul li a {
    padding: 10px 20px;
    line-height: 20px;
}
.transparent-header .navbar-wrap ul li a {
    color: var(--tg-white-color);
}
.transparent-header.sticky-menu .navbar-wrap ul li a {
    color: var(--tg-black-color);
}
.menu-area-two .mobile-nav-toggler {
    border: none;
}

/* Breadcrumb Area */
.breadcrumb-bg::after {
    background-image: none;
}

/* Banner Section */
.banner-area-two {
    padding: 7.5% 0% 0%;
}
.banner-area-two .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.bottom-shape,
.section-down {
    display: none !important;
}
.banner-img-two {
    bottom: -5%;
}

/* Brand Partners */
.brand-area {
    background-color: var(--tg-cream-bg-color);
}
.brand-item {
    max-width: 150px;
    max-height: 100%;
}
.brand-area .slick-initialized .slick-slide {
    display: inline-flex;
    justify-content: center;
}

/* about */
.about-content p {
    text-align: justify;
    margin-bottom: 2.5%;
}
.about-content {
    margin: 0 50px 0 0px;
}
.features-products-thumb {
    margin: 0px 0px 0px 75px;
}
.features-products-thumb::before {
    display: none;
}
.features-products-thumb .main-img::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 275px;
    height: 26px;
    background: #464646;
    filter: blur(20px);
    border-radius: 99px;
    z-index: -1;
}
.features-products-wrap:nth-child(2n) .about-content  {
    margin: 0px 0px 0px 50px;
}
.features-products-wrap:nth-child(2n) .features-products-thumb {
    margin: 0px 75px 0px 0px;
}
.about-area .features-products-wrap {
    margin-bottom: 2.5%;
}
.about-area .features-products-thumb .shape-img {
    position: absolute;
    bottom: 5%;
    left: -15%;
    z-index: 0;
    transition: .35s linear;
    max-width: 100%;
}

/** about-company-area-section **/
.auto-container{
    position:static;
    max-width:1350px;
    padding:0px 15px;
    margin:0 auto;
}
.about-company-area {
    background-color: var(--tg-cream-bg-color);
    position: relative;
}
.about-company-area .bg-layer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-company-area .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 680px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_block_6 .content-box {
    position: relative;
    display: block;
}
.content_block_6 .content-box .inner-box .single-item {
    position: relative;
    display: block;
    padding-left: 115px;
    margin-bottom: 33px;
    min-height: 87px;
}
.content_block_6 .content-box .inner-box .single-item:last-child {
    margin-bottom: 0px;
}
.content_block_6 .content-box .inner-box .single-item .icon-box {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    background: #d5f1f1;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    transition: all 500ms ease;
}
.content_block_6 .content-box .inner-box .single-item .icon-box img {
    max-width: 75px;
    height: auto;
}
.content_block_6 .content-box .inner-box .single-item:hover .icon-box {
    color: #fff;
}
.content_block_6 .content-box .inner-box .single-item .icon-box:before {
    position: absolute;
    content: '';
    width: 125%;
    height: 125%;
    left: -15%;
    top: -2.5%;
    right: 0px;
    border-radius: 50%;
    transform: scale(0, 0);
    z-index: -1;
    transition: all 500ms ease;
}
.content_block_6 .content-box .inner-box .single-item:hover .icon-box:before {
    transform: scale(1, 1);
}
.content_block_6 .content-box .inner-box .single-item h4 {
    margin-bottom: 9px;
}
.content_block_6 .content-box .inner-box {
    padding-right: 30px;
}
.content_block_6 .content-box .sec-title {
    margin-bottom: 42px;
}
@media only screen and (max-width: 991px) {
    .about-company-area .bg-layer, 
    .about-company-area .pattern-layer {
        display: none;
    }
}

/* Features */
.features-bg-two::before {
    background: rgba(0, 0, 0, 0.6);
}
.features-item-three {
    display: flex;
    text-align: center;
    margin-bottom: 2.5% !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features-item-three .features-content .title {
    color: var(--tg-primary-color);
    margin-bottom: 0%;
}
.features-item-three .features-content p {
    padding: 2.5%;
    min-height: 200px;
}
.features-item-three .features-icon {
    display: flex;
    width: 80px;
    height: 80px;
    background: var(--tg-white-color);
    border: 1px solid var(--tg-secondary-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}
.features-item-three .features-icon::after {
    display: none;
}
.features-item-three .features-icon img {
    max-width: 60px;
}

/* Counter */
.counter-wrap {
    background: var(--tg-gray-two);
    padding: 2.5% 5%;
    border-radius: 10px;
    margin-top: -15%;
    position: relative;
    z-index: 2;
}
.counter-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tg-white);
    border-radius: 5px;
    padding: 10% 5%;
    gap: 20px;
}
.counter-item .counter-icon img {
    max-width: 75px;
}
.counter-content .count {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 3px;
    font-size: 28px;
    font-weight: 500;
}

/* Why Choose Us */
.ingredients-img::after {
    display: none;
}

/* Products Shop */
.product-content .rating {
    display: none;
    align-items: center;
    color: var(--tg-rating-color);
    gap: 0 2px;
}
.product-content a.btn-three {
    padding: 10px 25px;
}
.product-thumb a {
    padding: 15px;
    height: 250px;
}
.product-content {
    padding: 0 15px 20px;
}
.product-bottom {
    margin: 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product-bottom .action-button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background: var(--tg-primary-color);
}
.product-bottom .action-button:hover {
    border: 1px solid var(--tg-primary-color);
    background: var(--tg-white-color);
    color: var(--tg-primary-color);
}
.product-bottom .cart-plus-minus {
    width: 100px;
}
.product-bottom .cart-plus-minus .qtybutton {
    width: 25px;
}
.product-bottom .cart-plus-minus input {
    width: 100%;
    height: 40px;
    padding: 0 30px;
}

/* Product Benifits */
.benifits .ingredients-icon img {
    max-width: 50px;
}
.benifits .ingredients-content-two p {
    max-width: 200px;
}
.benifits .product-item {
    box-shadow: none;
}
.durga-ghee-benifit-active .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0;
	padding: 0 0;
}
.durga-ghee-benifit-active .slick-dots li {
	list-style: none;
	line-height: 1;
	margin: 0 5px;
}
.durga-ghee-benifit-active .slick-dots li button {
	border: none;
	padding: 0;
	text-indent: -99999px;
	width: 10px;
	height: 10px;
	background: var(--tg-primary-color);
	opacity: .3;
	border-radius: 50%;
	display: block;
	line-height: 1;
}
.durga-ghee-benifit-active .slick-dots li.slick-active button {
	box-shadow: 0px 3px 3px rgba(250, 164, 50, 0.22);
	border-radius: 5px;
	width: 20px;
	opacity: 1;
}
.durga-ghee-benifit-active .slick-arrow:hover::before {
	opacity: 1;
}

/* Video Process */
.tg-video-bg {
    background-image: url(../img/bg/ghee-making-video-bg.png);
}
.tg-video-bg::after {
    opacity: 0.3;
    background-image: -webkit-linear-gradient(5deg, #ed1d24 0%, #b31217 65%);
}
.tg-video-bg::before {
    display: none;
}
.tg-video-img .play-btn {
    background-color: #ed1d24;
    background-image: linear-gradient(135deg, #ed1d24 0%, #b31217 100%);
}
.tg-video-content .info-one,
.tg-video-content .info-two {
    margin-bottom: 2.5%;
}
.tg-video-content .tg-btn {
    color: var(--tg-primary-color);
    box-shadow: 0px 4px 8px 0px rgba(237, 29, 36, 0.4);
}

/* Testimonial Reviews */
.testimonial-rating {
    display: inline-flex;
    justify-content: center;
    max-width: 150px;
    margin: 0 0 2.5%;
}
.testimonial-bg::before,
.testimonial-bg::after {
    display: none;
}

/* News blogs */
.tg-blog-overlay-tag > a {
    background-color: var(--tg-primary-color);
    color: var(--tg-white-color);
}
.tg-shop-action .action-item:hover::before, 
.tg-blog-overlay-tag > a:hover::before {
    opacity: 0;
}
.tg-blog-overlay-tag > a:hover {
    background-color: var(--tg-white-color);
    color: var(--tg-primary-color);
}
.tg-blog-post-content .title {
    min-height: 75px;
}

/* CTA */
.cta-wrap {
    background-size: cover;
    background-position: center;
    padding: 5% 2.5%;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.cta-wrap .call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cta-img img {
    max-width: 350px;
    height: auto;
}
.cta-title {
    max-width: 750px;
    padding: 0 2.5%;
}
.cta-title .title {
    font-size: 28px;
    font-weight: 700;
    color: var(--tg-white-color);
    margin-bottom: 10px;
}
.cta-title p {
    font-size: 16px;
    color: var(--tg-white-color);
    margin-bottom: 0;
}

/* Footer Insta Posts */
.footer-insta-item a::before {
    background: var(--tg-primary-color);
}
.footer-insta-item a:hover::before {
    opacity: 0.5;
}

/* Footer */
.footer-top-wrap {
    background: url(../img/bg/footer-bg.png) no-repeat center center;
    background-size: cover;
}
.footer-top-wrap h4,
.footer-top-wrap p,
.footer-top-wrap ul li a {
    color: var(--tg-black-color) !important;
}
.footer-top-wrap p,
.footer-top-wrap ul li a {
    opacity: 0.8;
    font-weight: 500;
}
.footer-contact-wrap .list-wrap {
    margin: 15px 0 0;
}
.footer-contact-wrap .list-wrap li {
    align-items: flex-start;
    margin: 0 0 15px;
}
.footer-contact-wrap .list-wrap li {
    align-items: flex-start;
    margin: 0 0 15px;
}
.footer-contact-wrap .list-wrap li i {
    color: var(--tg-primary-color);
}
.footer-social a {
    background: var(--tg-primary-color);
}
.footer-social a:hover {
    background: var(--tg-secondary-color);
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+2) .footer-widget {
	padding-left: 2.5%;
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+4) .footer-widget {
	padding-left: 2.5%;
}
.footer-widget {
    margin-bottom: 5%;
}
.footer-widget .fw-title {
    margin-bottom: 5%;
}
.footer-social {
    margin-top: 2.5%;
}
.copyright-wrap {
    background: var(--tg-secondary-color);
    border-top: 1px solid var(--tg-primary-color);
    padding: 1% 0% 0.5%;
}
.copyright-text p {
    color: var(--tg-black-color);
    opacity: 1;
}
.copyright-text p a {
    font-weight: 600;
}

/* Contact Page */
.contact-box {
	padding: 30px 15px;
	background: var(--tg-white);
	margin: 0px;
    min-height: 250px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-box::before,
.contact-box::after {
	border-left: 4px solid var(--tg-primary-color);
	height: 150px;
	width: 5px;
}
.contact-box::after {
	left: auto;
	right: 0;
}
.contact-icon {
	font-size: 50px;
	color: var(--tg-secondary-color);
	margin: 0 0 15px;
}
.contact-icon .overlay-icon {
	background: var(--tg-white);
	color: var(--tg-primary-color);
	right: -15px;
}
.contact-content .title {
	font-size: 30px;
	margin: 0 0 15px;
}
.contact-form label {
    margin: 0 0 5px;
}
.contact-form input, .contact-form textarea {
    padding: 8px 15px;
}
.contact-form textarea {
    min-height: 100px;
}
.contact-form select.form-select {
    min-height: 50px;
    padding: 8px 15px;
    margin: 0 0 15px;
    color: var(--tg-body-font-color);
}

/* Our Process */
.ourProcess {
    height: 500px;
}
.process-details {
    position: relative;
    margin-top: 5%;
}
.process-main {
    position: absolute;
}
.process-main h3 {
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 2.5%;
    color: var(--tg-primary-color);
    text-align: center;
    line-height: 1.4;
}
.process-main p {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 0%;
}
.process-details .step-1 {
    top: -25%;
    left: 0;
    max-width: 250px;
}
.process-details .step-2 {
    bottom: -30%;
    left: 17.5%;
    max-width: 250px;
}
.process-details .step-3 {
    top: -25%;
    left: 27.5%;
    max-width: 250px;
}
.process-details .step-4 {
    bottom: -35%;
    left: 45%;
    max-width: 250px;
}
.process-details .step-5 {
    top: -25%;
    right: 25%;
    max-width: 250px;
}
.process-details .step-6 {
    bottom: -30%;
    right: 10%;
    max-width: 250px;
}
.process-details .step-7 {
    top: -25%;
    right: 0%;
    max-width: 250px;
}
.process-mobile {
    display: none;
}

/* Breadcrumb Bgs */
.breadcrumb-bg {
    background-image: url(../img/bg/video_bg.jpg);
}
.contact-bg {
    background-image: url(../img/bg/feedback-bg.png);
}

/* Shop Page */
.inner-shop-area .shop-top-right {
    max-width: 225px;
}
.inner-shop-item {
    box-shadow: 0px 15px 26px rgba(173, 185, 202, 0.17);
}
.pagination-wrap {
    display: none;
    align-items: center;
    justify-content: center;
}
.pagination-wrap ul li a:hover,
.pagination-wrap ul li .current {
    color: var(--tg-white);
    background: var(--tg-primary-color);
    border-color: var(--tg-secondary-color);
}
.lp-post-thumb > a {
    padding: 0px;
}
.lp-post-content .price {
    color: var(--tg-primary-color);
}
.price_filter .ui-slider-range {
    background: var(--tg-primary-color) none repeat scroll 0 0;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: var(--tg-primary-color);
}
.price_slider_amount > input[type="submit"] {
    background: var(--tg-primary-color);
}
.widget .categories-list li::before {
    background: var(--tg-primary-color);
}
.widget .categories-list li a:hover {
    color: var(--tg-primary-color);
}
.widget .Product-tag-list {
    gap: 5px;
}
.Product-tag-list li a {
    padding: 6px 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* Timeline Slider */
.journey-area .custom-content .section-title p {
    max-width: 850px;
    margin: auto;
}
.timeline {
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.timeline-nav__item {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 1;
    background: transparent;
    color: var(--tg-black-color);
    margin: 10px 25px !important;
    position: relative;
    font-size: 18px;
    line-height: 1.4;
    outline: none;
    cursor: pointer;
}
.timeline-slide__content img {
    text-align: center;
    margin: 0 auto;
}
.timeline-nav__item::before {
    content: "";
    position: absolute;
    top: 125%;
    left: 50%;
    -webkit-transform: translateX(-30%);
    transform: translateX(-42%);
    width: 150%;
    height: 2px;
    background-color: var(--tg-gray-two);
    -webkit-transition: .2s;
    transition: .2s;
}
.timeline-nav__item.slick-current {
    color: var(--tg-primary-color);
    opacity: 1;
    font-size: 20px;
    font-weight: 600;
}
.timeline-nav__item.slick-current::before {
    background-color: var(--tg-primary-color);
}
.timeline-wrapper {
    position: relative;
    width: 100%;
    height: 425px;
    margin: 0px auto;
}
.timeline-slider {
    height: 100%;
}
.timeline .slick-list {
    height: 100%;
}
.timeline .slick-track {
    height: 100%;
    margin: 1% 0;
}
.timeline-slide {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    outline: none;
    background-size: auto 400px, cover;
    background-position: top;
    margin: 0 24px;
    width: 80%;
    z-index: 1;
}
.timeline-slide:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 52, 113, 0.8);
    z-index: 2;
}
.timeline-slide__content {
    z-index: 5;
    position: absolute;
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    padding: 0%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.timeline-slide__content img {
    max-width: 400px;
}
.timeline-year {
    z-index: 5;
    font-size: 35px;
    color: #ffffff;
    background: var(--tg-primary-color);
    padding: 15px 26px;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
    position: absolute;
    right: 0;
    opacity: 0;
}
.timeline-text {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    margin-top: 2.5%;
}
.timeline .slick-current:after {
    background-color: rgba(0, 52, 113, 0);
}
.timeline .slick-current .timeline-year {
    opacity: 1;
}
.timeline .slick-current .timeline-slide__content {
    opacity: 1;
}
@media (min-width: 991px) {
    .timeline .slick-list {
        padding: 0 30px !important;
    }
}
@media (max-width: 575px) {
    .timeline .slick-track {
        margin: 2.5% 0;
    }
    .timeline-slide__content,
    .timeline-slide__content img {
        width: 100%;
    }
}


/* Responsiveness */
@media (max-width: 1500px) {
    .padding-defult-top-bottom {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .banner-img-two {
        max-width: 100%;
        margin: 0 auto;
    }
    .ingredients-item {
        margin: 0 0 5%;
    }
    .ingredients-thumb {
        margin: 0px;
    }
    .ingredients-thumb img {
        max-width: 80px;
    }
    .ingredients-content .title {
        margin: 0 0 10px;
    }
    .ingredients-items-wrap .row> :nth-child(4n+2) .ingredients-item,
    .ingredients-items-wrap .row> :nth-child(4n) .ingredients-item {
        margin: 0px;
    }
    .ingredients-items-wrap .row> :nth-last-child(-n+2) .ingredients-item {
        margin-bottom: 0px;
    }
}
@media (max-width: 991px) {
    .video-bg {
        min-height: 350px;
    }
    .banner-area-two {
        height: 400px;
    }
    .banner-area-two img {
        display: none;
    }
    .brand-item {
        max-width: 100px;
    }
    .section-title .title {
        font-size: 32px;
    }
    .ingredients-item-wrap .ingredients-item-two,
    .ingredients-item-wrap.reverse-item .ingredients-item-two {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .ingredients-item-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ingredients-item-wrap.reverse-item {
        margin-bottom: 0px;
    }
    .ingredients-content-two p {
        min-height: 100px;
    }
    .ingredients-item-two {
        margin-bottom: 2.5%;
    }
    .ingredients-content-two .title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .brand-area.padding-defult-top {
        margin-top: 7.5%;
    }
    .about-content {
        margin: 0;
    }
    .about-area .features-products-wrap {
        margin-bottom: 7.5%;
    }
    .features-products-wrap:nth-child(2n) .features-products-thumb {
        margin: 0px;
    }
    .features-products-wrap:nth-child(2n) .about-content {
        margin: 5% 0px 0px 0px;
    }
    .features-item-three .features-content p {
        min-height: 150px;
    }
    .counter-content .count {
        justify-content: center;
    }
    .counter-wrap {
        margin-top: -22.5%;
    }
    .counter-wrap .counter-item {
        flex-direction: column;
    }
    .padding-defult-top-bottom {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    .product-content { 
        text-align: center;
    }
    .product-content .rating,
    .product-content .product-bottom  {
        justify-content: center;
    }
    .ourProcess {
        height:  450px;
    }
    .process-details {
        margin-top: 10%;
    }
    .process-images {
        margin: 12.5% 0%;
    }
    .process-main h3 {
        font-size: 18px;
    }
    .process-main p {
        font-size: 14px;
    }
    .process-details .step-1 {
        top: -62.5%;
        left: -2.5%;
        max-width: 175px;
    }
    .process-details .step-2 {
        bottom: -70%;
        left: 10%;
        max-width: 175px;
    }
    .process-details .step-3 {
        top: -62.5%;
        left: 25%;
        max-width: 175px;
    }
    .process-details .step-4 {
        bottom: -70%;
        left: 40%;
        max-width: 175px;
    }
    .process-details .step-5 {
        top: -62.5%;
        right: 23%;
        max-width: 175px;
    }
    .process-details .step-6 {
        bottom: -70%;
        right: 5%;
        max-width: 175px;
    }
    .process-details .step-7 {
        top: -65%;
        right: -2.5%;
        max-width: 180px;
    }
    .process-mobile {
        display: none;
    }
    .process-mobile .process-main img {
        max-width: 250px;
    }
    .tg-blog-post-content .title {
        min-height: 50px;
    }
    .cta-wrap .call-to-action {
        justify-content: flex-start !important;
        gap: 15px;
    }
    .cta-wrap .call-to-action .cta-title {
        padding: 0 2.5% 0 0%;
    }
    
}
@media (max-width: 575px) {
    .video-bg {
        min-height: 250px;
    }
    .banner-area-two {
        height: 250px;
        margin-top: -5%;
    }
    .banner-area-two img {
        display: none;
    }
    .banner-img-two {
        bottom: -2.5%;
    }
    .brand-item {
        max-width: 75px;
    }
    .section-title .title {
        font-size: 28px;
    }
    .about-area .features-products-thumb .shape-img {
        max-width: 50%;
    }
    .features-products-thumb {
        margin: 0px 0px 0px 25px;
    }
    .counter-wrap {
        margin-top: 2.5%;
    }
    .counter-item {
        padding: 5% 2.5%;
        gap: 10px;
    }
    .counter-wrap .counter-item {
        flex-direction: row;
    }
    .counter-content .count {
        justify-content: start;
        font-size: 26px;
    }
    .counter-icon img {
        max-width: 50px;
    }
    .ingredients-item-wrap .ingredients-item-two,
    .ingredients-item-wrap.reverse-item .ingredients-item-two {
        flex-direction: row;
        text-align: start;
        gap: 20px;
    }
    .ingredients-item-wrap {
        margin: 5% 0px;
    }
    .ingredients-content-two p {
        min-height: auto;
    }
    .durga-ghee-benifit-active .slick-dots {
        /* margin-top: -10%; */
    }
    .ourProcess {
        height: 100%;
    }
    .process-details {
        display: none;
    }
    .process-mobile {
        display: block;
        margin-top: 5%;
    }
    .process-mobile .process-main {
        position: relative;
        text-align: center;
        margin: 2.5% 0;
    }
    .process-mobile .process-main img {
        max-width: 150px;
    }
}