
/* Root Global */
:root {
    --tg-primary-color: #ed1d24;
    --tg-secondary-color: #FAA432;
    --tg-white-color: #ffffff;
    --tg-black-color: #000000;
    --tg-rating-color: #FFD700;
}
.btn-three {
    padding: 10px 27px;
}
.padding-defult {
    padding: 5% 0;
}
.padding-defult-top {
    padding-top: 5%;
    padding-bottom: 0%;
}
.padding-defult-bottom {
    padding-bottom: 5%;
    padding-top: 0%;
}
.padding-defult-top-bottom {
    padding-top: 5%;
    padding-bottom: 7.5%;
}
.scroll-top:hover {
    background-color: var(--tg-primary-color);
    opacity: 1;
}

/* Header */
.menu-area-two {
    border-bottom: none;
}
.menu-area-two .logo {
    border-right: none;
    padding: 5px 30px;
}
.menu-area-two .navbar-wrap ul li a {
    padding: 10px 20px;
    line-height: 20px;
}

/* Banner Section */
.banner-area-two {
    padding: 7.5% 0% 0%;
}
.banner-area-two .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.bottom-shape,
.section-down {
    display: none !important;
}

/* Brand Partners */
.brand-item {
    max-width: 150px;
    max-height: 100%;
}

/* about */
.about-content p {
    text-align: justify;
    margin-bottom: 2.5%;
}
.about-content {
    margin: 0 50px 0 0px;
}
.features-products-thumb {
    margin: 0px 0px 0px 75px;
}
.features-products-wrap:nth-child(2n) .about-content  {
    margin: 0px 0px 0px 50px;
}
.features-products-wrap:nth-child(2n) .features-products-thumb {
    margin: 0px 75px 0px 0px;
}
.about-area .features-products-wrap {
    margin-bottom: 5%;
}

/* Features */
.features-item-three {
    display: flex;
    text-align: center;
    margin-bottom: 2.5% !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features-item-three .features-content .title {
    color: var(--tg-primary-color);
}
.features-item-three .features-content p {
    padding: 2.5%;
    min-height: 175px;
}
.features-item-three .features-icon {
    display: flex;
    width: 80px;
    height: 80px;
    background: var(--tg-white-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.features-item-three .features-icon::after {
    display: none;
}
.features-item-three .features-icon img {
    max-width: 60px;
}

/* Counter */
.counter-wrap {
    background: var(--tg-white);
    padding: 2.5% 5%;
    border-radius: 10px;
    margin-top: -15%;
    position: relative;
    z-index: 2;
}
.counter-item {
    display: flex;
    align-items: center;
    background: var(--tg-gray-two);
    border-radius: 5px;
    padding: 10% 5%;
    gap: 15px;
}
.counter-content .count {
    display: flex;
    align-items: center;
    line-height: .8;
    margin-bottom: 3px;
    font-size: 36px;
    font-weight: 500;
}

/* Products Shop */
.product-content .rating {
    display: flex;
    align-items: center;
    color: var(--tg-rating-color);
    gap: 0 2px;
}
.product-bottom .action-button {
    background: var(--tg-primary-color);
}
.product-bottom .action-button:hover {
    border: 1px solid var(--tg-primary-color);
    background: var(--tg-white-color);
    color: var(--tg-primary-color);
}

/* Product Benifits */
.benifits .ingredients-icon img {
    max-width: 50px;
}
.durga-ghee-benifit-active .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0;
	padding: 0 0;
}
.durga-ghee-benifit-active .slick-dots li {
	list-style: none;
	line-height: 1;
	margin: 0 5px;
}
.durga-ghee-benifit-active .slick-dots li button {
	border: none;
	padding: 0;
	text-indent: -99999px;
	width: 10px;
	height: 10px;
	background: var(--tg-primary-color);
	opacity: .3;
	border-radius: 50%;
	display: block;
	line-height: 1;
}
.durga-ghee-benifit-active .slick-dots li.slick-active button {
	box-shadow: 0px 3px 3px rgba(250, 164, 50, 0.22);
	border-radius: 5px;
	width: 20px;
	opacity: 1;
}
.durga-ghee-benifit-active .slick-arrow:hover::before {
	opacity: 1;
}

/* Video Process */
.tg-video-bg {
    background-image: url(https://codeskdhaka.com/html/dairypress-prev/dairypress/assets/img/bg/video-bg.jpg);
}
.tg-video-bg::after {
    opacity: 0.65;
    background-image: -webkit-linear-gradient(5deg, #ed1d24 0%, #b31217 80%);
}
.tg-video-img .play-btn {
    background-color: #ed1d24;
    background-image: linear-gradient(135deg, #ed1d24 0%, #b31217 100%);
}
.tg-video-content .tg-btn {
    color: var(--tg-primary-color);
    box-shadow: 0px 8px 16px 0px rgba(237, 29, 36, 0.4);
}

/* Testimonial Reviews */
.testimonial-rating {
    display: inline-flex;
    justify-content: center;
    max-width: 150px;
    margin: 0 0 2.5%;
}

/* News blogs */
.tg-blog-overlay-tag > a {
    background-color: var(--tg-primary-color);
    color: var(--tg-white-color);
}
.tg-shop-action .action-item:hover::before, 
.tg-blog-overlay-tag > a:hover::before {
    opacity: 0;
}
.tg-blog-overlay-tag > a:hover {
    background-color: var(--tg-white-color);
    color: var(--tg-primary-color);
}

/* Footer Insta Posts */
.footer-insta-item a::before {
    background: var(--tg-primary-color);
}
.footer-insta-item a:hover::before {
    opacity: 0.5;
}

/* Footer */
.footer-top-wrap {
    background: url(../img/bg/footer-bg.png) no-repeat center center;
    background-size: cover;
}
.footer-top-wrap h4,
.footer-top-wrap p,
.footer-top-wrap ul li a {
    color: var(--tg-black-color) !important;
}
.footer-contact-wrap .list-wrap li i {
    color: var(--tg-primary-color);
}
.footer-social a:hover {
    background: var(--tg-primary-color);
}

/* Responsiveness */
@media (max-width: 1500px) {
    .padding-defult-top-bottom {
        padding-top: 5%;
        padding-bottom: 12.5%;
    }
    .banner-img-two {
        max-width: 100%;
        margin: 0 auto;
    }
}