
/* Root Global */
:root {
    --tg-primary-color: #ed1d24;
    --tg-secondary-color: #FAA432;
    --tg-white-color: #ffffff;
    --tg-black-color: #000000;
    --tg-rating-color: #FFD700;
}
.btn-three {
    padding: 15px 30px;
}
.padding-defult {
    padding: 5% 0;
}
.padding-defult-top {
    padding-top: 5%;
    padding-bottom: 0%;
}
.padding-defult-bottom {
    padding-bottom: 5%;
    padding-top: 0%;
}
.padding-defult-top-bottom {
    padding-top: 5%;
    padding-bottom: 7.5%;
}
.rounded {
    border-radius: 1rem !important;
}
.scroll-top {
    background-color: var(--tg-primary-color);
}
.scroll-top:hover {
    background-color: var(--tg-secondary-color);
    opacity: 1;
}
.section-title .title {
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 0;
}
.tg-cube-grid .tg-cube {
    background-color: var(--tg-primary-color);
}

/* Header */
.menu-area-two {
    border-bottom: none;
}
.menu-area-two .logo {
    border-right: none;
    padding: 5px 30px;
}
.menu-area-two .navbar-wrap ul {
    margin: 0 0 0 auto;
}
.menu-area-two .navbar-wrap ul li a {
    padding: 10px 20px;
    line-height: 20px;
}
.transparent-header .navbar-wrap ul li a {
    color: var(--tg-white-color);
}
.transparent-header.sticky-menu .navbar-wrap ul li a {
    color: var(--tg-black-color);
}
.menu-area-two .mobile-nav-toggler {
    border: none;
}

/* Banner Section */
.banner-area-two {
    padding: 7.5% 0% 0%;
}
.banner-area-two .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.bottom-shape,
.section-down {
    display: none !important;
}
.banner-img-two {
    bottom: -5%;
}

/* Brand Partners */
.brand-item {
    max-width: 150px;
    max-height: 100%;
}
.brand-area .slick-initialized .slick-slide {
    display: inline-flex;
    justify-content: center;
}

/* about */
.about-content p {
    text-align: justify;
    margin-bottom: 2.5%;
}
.about-content {
    margin: 0 50px 0 0px;
}
.features-products-thumb {
    margin: 0px 0px 0px 75px;
}
.features-products-wrap:nth-child(2n) .about-content  {
    margin: 0px 0px 0px 50px;
}
.features-products-wrap:nth-child(2n) .features-products-thumb {
    margin: 0px 75px 0px 0px;
}
.about-area .features-products-wrap {
    margin-bottom: 2.5%;
}
.about-area .features-products-thumb .shape-img {
    position: absolute;
    bottom: 7.5%;
    left: -12.5%;
    z-index: -1;
    transition: .35s linear;
    max-width: 100%;
}

/* Features */
.features-bg-two::before {
    background: rgba(0, 0, 0, 0.6);
}
.features-item-three {
    display: flex;
    text-align: center;
    margin-bottom: 2.5% !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features-item-three .features-content .title {
    color: var(--tg-primary-color);
    margin-bottom: 0%;
}
.features-item-three .features-content p {
    padding: 2.5%;
    min-height: 200px;
}
.features-item-three .features-icon {
    display: flex;
    width: 80px;
    height: 80px;
    background: var(--tg-white-color);
    border: 1px solid var(--tg-secondary-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}
.features-item-three .features-icon::after {
    display: none;
}
.features-item-three .features-icon img {
    max-width: 60px;
}

/* Counter */
.counter-wrap {
    background: var(--tg-white);
    padding: 2.5% 5%;
    border-radius: 10px;
    margin-top: -15%;
    position: relative;
    z-index: 2;
}
.counter-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tg-gray-two);
    border-radius: 5px;
    padding: 10% 5%;
    gap: 20px;
}
.counter-item .counter-icon img {
    max-width: 75px;
}
.counter-content .count {
    display: flex;
    align-items: center;
    line-height: .8;
    margin-bottom: 3px;
    font-size: 36px;
    font-weight: 500;
}

/* Why Choose Us */
.ingredients-img::after {
    display: none;
}

/* Products Shop */
.product-content .rating {
    display: none;
    align-items: center;
    color: var(--tg-rating-color);
    gap: 0 2px;
}
.product-content a.btn-three {
    padding: 10px 25px;
}
.product-bottom {
    margin: 0px;
    flex-wrap: wrap;
}
.product-bottom .action-button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background: var(--tg-primary-color);
}
.product-bottom .action-button:hover {
    border: 1px solid var(--tg-primary-color);
    background: var(--tg-white-color);
    color: var(--tg-primary-color);
}
.product-bottom .cart-plus-minus {
    width: 100px;
}
.product-bottom .cart-plus-minus .qtybutton {
    width: 25px;
}
.product-bottom .cart-plus-minus input {
    width: 100%;
    height: 40px;
    padding: 0 30px;
}

/* Product Benifits */
.benifits .ingredients-icon img {
    max-width: 50px;
}
.benifits .ingredients-content-two p {
    max-width: 200px;
}
.durga-ghee-benifit-active .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0;
	padding: 0 0;
}
.durga-ghee-benifit-active .slick-dots li {
	list-style: none;
	line-height: 1;
	margin: 0 5px;
}
.durga-ghee-benifit-active .slick-dots li button {
	border: none;
	padding: 0;
	text-indent: -99999px;
	width: 10px;
	height: 10px;
	background: var(--tg-primary-color);
	opacity: .3;
	border-radius: 50%;
	display: block;
	line-height: 1;
}
.durga-ghee-benifit-active .slick-dots li.slick-active button {
	box-shadow: 0px 3px 3px rgba(250, 164, 50, 0.22);
	border-radius: 5px;
	width: 20px;
	opacity: 1;
}
.durga-ghee-benifit-active .slick-arrow:hover::before {
	opacity: 1;
}

/* Video Process */
.tg-video-bg {
    background-image: url(../img/bg/ghee-making-video-bg.jpg);
}
.tg-video-bg::after {
    opacity: 0.4;
    background-image: -webkit-linear-gradient(5deg, #ed1d24 0%, #b31217 65%);
}
.tg-video-bg::before {
    display: none;
}
.tg-video-img .play-btn {
    background-color: #ed1d24;
    background-image: linear-gradient(135deg, #ed1d24 0%, #b31217 100%);
}
.tg-video-content .tg-btn {
    color: var(--tg-primary-color);
    box-shadow: 0px 8px 16px 0px rgba(237, 29, 36, 0.4);
}

/* Testimonial Reviews */
.testimonial-rating {
    display: inline-flex;
    justify-content: center;
    max-width: 150px;
    margin: 0 0 2.5%;
}
.testimonial-bg::before,
.testimonial-bg::after {
    display: none;
}

/* News blogs */
.tg-blog-overlay-tag > a {
    background-color: var(--tg-primary-color);
    color: var(--tg-white-color);
}
.tg-shop-action .action-item:hover::before, 
.tg-blog-overlay-tag > a:hover::before {
    opacity: 0;
}
.tg-blog-overlay-tag > a:hover {
    background-color: var(--tg-white-color);
    color: var(--tg-primary-color);
}

/* CTA */
.cta-wrap {
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.cta-img img {
    max-width: 250px;
    height: auto;
}
.cta-title {
    max-width: 650px;
    padding: 0 2.5%;
}
.cta-title .title {
    font-size: 28px;
    font-weight: 700;
    color: var(--tg-white-color);
    margin-bottom: 10px;
}
.cta-title p {
    font-size: 16px;
    color: var(--tg-white-color);
    margin-bottom: 0;
}

/* Footer Insta Posts */
.footer-insta-item a::before {
    background: var(--tg-primary-color);
}
.footer-insta-item a:hover::before {
    opacity: 0.5;
}

/* Footer */
.footer-top-wrap {
    background: url(../img/bg/footer-bg.png) no-repeat center center;
    background-size: cover;
}
.footer-top-wrap h4,
.footer-top-wrap p,
.footer-top-wrap ul li a {
    color: var(--tg-black-color) !important;
}
.footer-contact-wrap .list-wrap {
    margin: 15px 0 0;
}
.footer-contact-wrap .list-wrap li {
    align-items: flex-start;
    margin: 0 0 15px;
}
.footer-contact-wrap .list-wrap li {
    align-items: flex-start;
    margin: 0 0 15px;
}
.footer-contact-wrap .list-wrap li i {
    color: var(--tg-primary-color);
}
.footer-social a {
    background: var(--tg-primary-color);
}
.footer-social a:hover {
    background: var(--tg-secondary-color);
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+2) .footer-widget {
	padding-left: 2.5%;
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+4) .footer-widget {
	padding-left: 2.5%;
}
.footer-widget {
    margin-bottom: 5%;
}
.footer-widget .fw-title {
    margin-bottom: 5%;
}
.footer-social {
    margin-top: 2.5%;
}
.copyright-wrap {
    background: var(--tg-secondary-color);
    border-top: 1px solid var(--tg-primary-color);
    padding: 1% 0% 0.5%;
}
.copyright-text p {
    color: var(--tg-black-color);
    opacity: 1;
}
.copyright-text p a {
    font-weight: 600;
}

/* Responsiveness */
@media (max-width: 1500px) {
    .padding-defult-top-bottom {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .banner-img-two {
        max-width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 991px) {
    .brand-item {
        max-width: 100px;
    }
    .section-title .title {
        font-size: 32px;
    }
    .ingredients-item-wrap .ingredients-item-two,
    .ingredients-item-wrap.reverse-item .ingredients-item-two {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .ingredients-item-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ingredients-item-wrap.reverse-item {
        margin-bottom: 0px;
    }
    .ingredients-content-two p {
        min-height: 100px;
    }
    .ingredients-item-two {
        margin-bottom: 2.5%;
    }
    .ingredients-content-two .title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .brand-area.padding-defult-top {
        margin-top: 7.5%;
    }
    .about-content {
        margin: 0;
    }
    .about-area .features-products-wrap {
        margin-bottom: 7.5%;
    }
    .features-products-wrap:nth-child(2n) .features-products-thumb {
        margin: 0px;
    }
    .features-products-wrap:nth-child(2n) .about-content {
        margin: 5% 0px 0px 0px;
    }
    .features-item-three .features-content p {
        min-height: 150px;
    }
    .counter-content .count {
        justify-content: center;
    }
    .counter-wrap {
        margin-top: -22.5%;
    }
    .counter-wrap .counter-item {
        flex-direction: column;
    }
    .padding-defult-top-bottom {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    .product-content { 
        text-align: center;
    }
    .product-content .rating,
    .product-content .product-bottom  {
        justify-content: center;
    }
}
@media (max-width: 575px) {
    .banner-img-two {
        bottom: -2.5%;
    }
    .brand-item {
        max-width: 75px;
    }
    .section-title .title {
        font-size: 28px;
    }
    .features-products-thumb {
        margin: 0px 0px 0px 25px;
    }
    .counter-wrap {
        margin-top: 2.5%;
    }
    .counter-item {
        padding: 5% 2.5%;
        gap: 10px;
    }
    .counter-wrap .counter-item {
        flex-direction: row;
    }
    .counter-content .count {
        justify-content: start;
        font-size: 26px;
    }
    .counter-icon img {
        max-width: 50px;
    }
    .ingredients-item-wrap .ingredients-item-two,
    .ingredients-item-wrap.reverse-item .ingredients-item-two {
        flex-direction: row;
        text-align: start;
        gap: 20px;
    }
    .ingredients-item-wrap {
        margin: 5% 0px;
    }
    .ingredients-content-two p {
        min-height: auto;
    }
    .durga-ghee-benifit-active .slick-dots {
        margin-top: -10%;
    }
}